@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
    /* dos tipos de magenes  */
    /* margin */
    margin: 100px;
}

.background-color {
  background-color: rgb(223, 49, 194);

}

.image-profile {
    width: 300px;
    height: 380px;
    border-radius: 63%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    
}

section {
    /* color de fondo  nombre del color , RGB , RGBA, Hexadecimal*/
    background-color: rgb(209, 196, 240);
    border: 3px  solid rgb(2, 15, 29);
    margin-top: 15px;
    padding: 30px;
}

.headerTitle {
    font-family: 'Architects Daughter', cursive;
}
.divImagenes img {
    width: 280px;
    height: 200px;
}

.name{
    width: 25px;
    height: 25px;
}

.skills{
    list-style-type: circle;
    padding-left: 2rem;
  list-style-type: none;
    ]
